#此文档不及时生效，修改需重启服务

username=
password=

#是否使用阿里云oss作为图片存储
open_aliyun_oss=true
#阿里云oss地址
aliyun_oss_path=http://
#阿里云图片处理模版
aliyun_image_process=?x-oss-process=style/
#aliyun oss 相关配置
endpoint=
accessKeyId=
accessKeySecret=
bucketName=
#根域名
basic_url=http://

#邮件服务相关
mail.host=smtp.163.com
mail.transport.protocol=smtp
mail.smtp.auth=true
#邮箱客户端用户名和授权码
email_um=
email_pw=
#邮箱地址和发件人名称
email_addr=@163.com
email_send_name=技术博客
